{% extends 'base.html.twig' %}

{% block title %}{{ sondage.question }}{% endblock %}

{% block content %}
    <h1 class="post-title">{{ sondage.question }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="iconfont iconfont-calendar"></i> {{ sondage.createdAt | date }}</span>
    </p>

    <div class="post-content">

        {% if not isInProject %}

            <div class="widget">
                Choix possible :

                <ul>
                    {% for choice in sondage.choice %}
                        <li>{{ choice }}</li>
                    {% endfor %}
                </ul>

                <div id="sondage-add-answer" class="widget">
                    <button class="btn btn-info">Répondre</button>
                    <div class="hidden">
                        {{ render(controller(
                            'App\\Controller\\AnswerController::addAnswer',
                            { 'sondageId': sondage.id }
                        )) }}
                    </div>
                </div>

            </div>

        {% endif %}

        <div class="widget">
            {% if ownAnswer %}
                Votre réponse : {{ ownAnswer.title }}
            {% else %}
                Vous n'avez pas encore répondu à ce sondage.
            {% endif %}
        </div>

        <div class="widget">
            Nombre de réponses : {{ sondage.answer | length }}

            <div id="responsechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {{ chart(chart) }}
        });
    </script>
{% endblock %}