{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/datatables.min.css"/>
{% endblock %}

{% block content %}
        <h2 class="content-heading">
            Liste des utilisateurs<span class="m-datagrid__header-items-amount">({{ listUser | length }})</span>
        </h2>
        <div class="m-datatable">
            <a href="{{ path('admin_add_user') }}" class="btn btn-info">
                Ajouter un utilisateur
            </a>

            <hr>

            <table id="datatable" class="table table-striped">
                <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Date d'inscription</th>
                    <th>Copropriété</th>
                    <th>Rôles</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in listUser %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.getCompleteName() }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.createdAt | date }}</td>
                        <td>{{ user.condominium.title }}</td>
                        <td>{{ user.roles | join(' | ') }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('home_index', {'_switch_user': user.username}) }}">Voir</a>
                            <a class="btn btn-warning" href="{{ path('admin_edit_user', {'id': user.id}) }}">Editer</a>
                            <a class="btn btn-danger" href="{{ path('admin_delete_user', {'id': user.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/datatables.min.js"></script>
{% endblock %}
