<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Condominium{% endblock %}</title>

        <link rel="icon" type="image/png" href="/img/favicon.png" />

        {% block styles %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}

    </head>

    <body class="{% block bodyClass %}{% endblock %}">

        {{ render(controller('App\\Controller\\DefaultController::navbar')) }}

        <div class="page-wrap">

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% block sidebar %}
                    {% include 'sidebar/sidebar.html.twig' %}
                {% endblock %}
            {% endif %}

            <div class="page-content">

                <div class="container-fluid">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}" role="alert">
                                <span class="alert-icon iconfont iconfont-info"></span>
                                {{ message }}
                                <span class="close iconfont iconfont-alert-close" data-dismiss="alert"></span>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="container-fluid {% block containerClass %}{% endblock %}">
                    {% block content %}{% endblock %}
                </div>

            </div>
        </div>

        {% block scripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>

</html>
