{% extends 'base.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}

{% block bodyClass %}blog_post_show{% endblock %}

{% block content %}
    <h1 class="post-title">{{ project.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="iconfont iconfont-info"></i> {{ project.status }}</span>
        <span class="metadata"><i class="iconfont iconfont-calendar"></i> {{ project.createdAt | date }}</span>
        <span class="metadata"><i class="iconfont iconfont-user"></i> {{ project.user }}</span>
    </p>

    <div class="widget">
        <div>
            Date de fin : <b>{{ project.deadline | date }}</b>
        </div>

        <hr>

        <div class="post-content">
            {{ project.description }}
        </div>
    </div>


    <div class="widget">
        {% if project.conversation %}
            Conversation lié :
            <a class="link-info" href="{{ path('forum_index_detail', {'id': project.conversation.id }) }}">Voir</a>
        {% else %}
            Aucune conversation lié :
            <a class="link-info" href="{{ path('forum_add_post') }}?project={{ project.id }}">En créer une</a>
        {% endif %}
    </div>

    {% if project.attachment %}
        <div class="widget">
            <a href="{{ asset('attachment/' ~ project.attachment) }}" target="_blank" class="link-info">Pièce jointe</a>
        </div>
    {% endif %}

    <div class="widget">
        <h3>Journalisation</h3>
        {% for journalisation in project.journalisation %}
            Titre : {{ journalisation.title }}<br>
            Description : {{ journalisation.description }}<br>
            Rédacteur : {{ journalisation.user }}
            {% if journalisation.attachment %}
                <br>
                <a href="{{ asset('attachment/' ~ journalisation.attachment) }}" target="_blank" class="link-info">Pièce jointe</a>
            {% endif %}
            <hr>
        {% endfor %}
        <div id="project-add-journalisation" class="widget">
            <button class="btn btn-info">Ajouter des élements</button>
            <div class="hidden">
                {{ form_start(form,  { 'action': action, 'attr': {'class': 'm-content__body', 'novalidate': 'novalidate' } } ) }}
                {{ form_widget(form,  { 'attr': {'class': 'm-content__block'} } ) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="widget">
        <h3>Liste des sondages liés : </h3>
        {% for sondage in project.sondage %}
            {{ render(controller('App\\Controller\\SondageController::showDetailSondage', {'id': sondage.id, 'isInProject': true})) }}
            <hr>
        {% endfor %}
    </div>
{% endblock %}
