{% extends 'base.html.twig' %}

{% block title %}{{ charge.title }}{% endblock %}

{% block bodyClass %}container-fh{% endblock %}

{% block content %}
    <div class="m-content m-content__hb">
        <div class="m-content__header">
            <h4 class="m-content__heading">{{ charge.title }} - {{ charge.condominium.title }}</h4>
        </div>
        <div class="m-content__block">

            {% if is_granted(['ROLE_ADMIN', 'ROLE_MANAGER']) %}
                <p class="row">
                    <a class="btn btn-info" href="{{ path('charge_create_call_for_capital', { 'id': charge.id }) }}">
                        Faire un appel de fond
                    </a>
                </p>
            {% endif %}

            {% if charge.contract %}
                <div class="widget">
                    Contrat liée :
                    <a class="link-info" href="{{ path('contract_detail', { 'id': charge.contract.id }) }}">Voir</a>
                </div>
            {% endif %}

            <p class="row">
                Nombre de personnes concernées : {{ charge.payment | length }}
            </p>
            <p class="row">
                Total à payer : {{ charge.amount | number_format() }} €
            </p>
            <p class="row">
                Date d'échéance : {{ charge.deadline | date }}
            </p>

            {% if charge.attachment %}
                <p class="row">
                    <a href="{{ asset('attachment/' ~ charge.attachment) }}" target="_blank" class="link-info">Pièce jointe</a>
                </p>
            {% endif %}

            <hr>

            <div class="row text-center">
                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th>Payeur</th>
                        <th>Status</th>
                        <th>Montant payé</th>
                        <th>Montant total</th>
                        <th>Pièce jointe</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in charge.payment %}
                        {% if payment.user | length %}
                            <tr>
                                <td>{{ payment.user }}</td>
                                <td>
                                    {% if (payment.amountPaid | number_format()) == (payment.amountTotal | number_format()) %}
                                        <span class="badge badge-success">Payé</span>
                                    {% else %}
                                        <span class="badge badge-warning">En cours</span>
                                    {% endif %}
                                </td>
                                <td>{{ payment.amountPaid | number_format() }} €</td>
                                <td>{{ payment.amountTotal | number_format() }} €</td>
                                <td>
                                    {% if payment.listAttachment %}
                                        {% for attachment in payment.listAttachment %}
                                            <a href="{{ asset('attachment/' ~ attachment) }}" target="_blank" class="link-info">
                                                Pièce jointe {{ loop.index }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if payment.user.username == app.user.username and (payment.amountPaid | number_format()) != (payment.amountTotal | number_format())  %}
                                        <a href="{{ path('charge_pay', { 'id': charge.id }) }}" class="btn btn-success">Payer</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <hr>

            <a class="btn btn-primary" href="{{ path('charge_index') }}">Retourner à la liste des charges</a>

            {% if is_granted(['ROLE_ADMIN', 'ROLE_MANAGER']) %}
                <a href="{{ path('charge_delete', { 'id': charge.id }) }}" class="btn btn-danger">Supprimer la charge</a>
            {% endif %}
        </div>
    </div>

{% endblock %}