{% extends 'base.html.twig' %}

{% block title %}Liste des charges{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/datatables.min.css"/>
{% endblock %}

{% block content %}
        <h2 class="content-heading">
            Liste des charges<span class="m-datagrid__header-items-amount">({{ listCharge | length }})</span>
        </h2>
        <div class="m-datatable">
            <table id="datatable" class="table table-striped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Personnes concernées</th>
                    <th>Status</th>
                    <th>Date d'échéance</th>
                    <th>Montant</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for charge in listCharge %}
                    <tr>
                        <td>{{ charge.title }}</td>
                        <td>{{ charge.user | join(', ') }}</td>
                        <td>
                            {% if charge.status == 'A payer' %}
                                <span class="badge badge-warning">
                            {% else %}
                                <span class="badge badge-success">
                            {% endif %}
                                {{ charge.status }}
                                </span>
                        </td>
                        <td>{{ charge.deadline | date("d/m/y") }}</td>
                        <td>{{ charge.amount }} €</td>
                        <td>
                            <a href="{{ path('charge_detail', {'id': charge.id}) }}" class="btn btn-info">
                                Détail
                            </a>
                            <a href="{{ path('charge_delete', {'id': charge.id}) }}" class="btn btn-danger">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/datatables.min.js"></script>
{% endblock %}
