{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block bodyClass %}blog_index{% endblock %}

{% block content %}

    <h2 class="content-heading">
        Liste des conversations<span class="m-datagrid__header-items-amount">({{ listPost | length }})</span>

        <span class="float-right">
            <a href="{{ path('forum_index') }}" class="btn btn-secondary">
                Voir les conversations non archivées
            </a>

            <a href="{{ path('forum_add_post') }}" class="btn btn-info">
                Ajouter une nouvelle conversation
            </a>
        </span>

    </h2>

    <hr>

    {% for post in listPost %}
        <article class="post">
            <h2 class="post-title">
                <a href="{{ path('forum_index_detail', {'id': post.id}) }}">
                    {{ post.title }}
                </a>
            </h2>

            <p class="post-metadata">
                <span class="metadata"><i class="iconfont iconfont-calendar"></i> {{ post.createdAt | date }}</span>
                <span class="metadata"><i class="iconfont iconfont-user"></i> {{ post.user.getCompleteName() }}</span>
                {%  if post.authorizedUser | length %}
                    <span class="metadata float-right small">Visible par
                        {{ post.authorizedUser | join(', ') }}
                    </span>
                {% endif %}
            </p>

            <p class="post-content">
                {{ post.description }}
            </p>

            <p class="post-tags">

                {{ include('forum/_post_tags.html.twig') }}

                {% if is_granted('ROLE_ADMIN') %}
                    <span class="float-right">
                        <a href="{{ path('forum_desarchive_post', { 'id': post.id }) }}">
                            <button class="btn btn-sm btn-warning">Désarchiver</button>
                        </a>
                        <a href="{{ path('forum_delete_post', { 'id': post.id }) }}">
                            <button class="btn btn-sm btn-danger">Supprimer</button>
                        </a>
                    </span>
                {% endif %}
            </p>

        </article>
    {% else %}
        <h2 class="text-center">Aucun post publié!</h2>
    {% endfor %}

{% endblock %}

